#title_h1{
    margin-left: 15%;
    font-size: 3vw;
}


#title_h2{
    margin-left: 15%;
    font-size: 3vw;
}

.title{
    margin-left: 15%;
    font-size: 2vw;
}

#bottom_img{
    width: 100%;
}

#home {
    text-align: center;
    position: fixed;
    width: 5%;
    bottom: 15%;
    z-index: 1000;
    right: 0.45%;
    display: none;
    background: #f4f4f5;
}

#home a{
    text-decoration: none;
    color: black;
}

#home img {
    width: 100%;
    height: 90%;
}
#index{
    text-align: center;
    position: fixed;
    width: 5%;
    bottom: 1%;
    z-index: 1000;
    right: 0.45%;
    display: inline-block;
    background: #f4f4f5;
}

#index a{
    text-decoration: none;
    color: black;
}

#index img {
    width: 100%;
    height: 90%;
}

.contents{
    display: flex;
    margin-left: 12.5%;
}

.contents ul{
    width: 35%;
    list-style-type: none;
}

.contents li{
    font-size: 1.5vw;
}

.contents a{
    color: red;
}

.contents a:hover{
    text-decoration: none;
}

.contents p{
    margin-left: 5%;
    margin-top: 1%;
    width: 35%;
    font-size: 1.5vw;
}

.body_text{
    margin-left: 15%;
    margin-top: 0;
    width: 70%;
    font-size: 1.5vw;
}

.left_img{
    width: 30%;
    margin-left: 15%;
}

.right_img{
    width: 30%;
    margin-left: 10%;
}

.History_left_link {
    display: inline-block;
    margin-left: 15%;
    width: 30%;
    text-align: center;
    font-size: 2vw;
}
.History_left_link a {
    text-decoration: none;
    color: black;
}

.History_left_link a:hover {
    text-decoration: none;
    color: red;
}

.History_left_link a:visited {
    text-decoration: none;
    color: purple;
}

.History_right_link {
    display: inline-block;
    margin-left: 10%;
    width: 30%;
    text-align: center;
    font-size: 2vw;
}
.History_right_link a {
    text-decoration: none;
    color: black;
}

.History_right_link a:hover {
    text-decoration: none;
    color: red;
}

.History_right_link a:visited {
    text-decoration: none;
    color: purple;
}

.link-item {
    margin-left: 15%;
    border-top: solid black 1px;
    width: 70%;
    height: 10%;
    margin-top: 1%;
}

.bottom{
    display: block;
    margin-left: 15%;
}

.bottom a{
    text-decoration: none;
    color: black;
}

.bottom a:hover{
    text-decoration: none;
    color: red;
}

.bottom a:visited{
    text-decoration: none;
    color: purple;
}

.body_text_with_img{
    display: flex;
    margin-left: 15%;
    width: 70%;
}
.body_text_with_img img{
    width: 30%;
}
.body_text_with_img p{
    margin-left: 5%;
    margin-top:  0;
    font-size: 1.5vw;
}